@model IEnumerable<JokesWebAppMVC.Models.Joke>

@{
    ViewData["Title"] = "Joke List";
}

<h1>Joke List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JokeQuestion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="accordion-toggle" data-toggle="collapse" data-target="#AA_@(item.Id)">
                    <button class="btn btn-outline-info" type="button">
                    @Html.DisplayFor(modelItem => item.JokeQuestion)
                    </button>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Details</a>
                </td>
            </tr>

            <tr>
                <td id="AA_@(item.Id)" class="accordion-body collapse">
                    @Html.DisplayFor(modelItem => item.JokeAnswer)
                </td>
            </tr>
        }
    </tbody>
</table>
